#hs-ambrosia-extra-btn {
   border: 2px solid orange;
}

#hs-add-10-btn {
   border: 2px solid green;
   border-right: none;
}

/* Always hide the visually-useless ambrosia minibars numbers to avoid a 'jump' when enabling them. */
#hs-blue-progress-text,
#hs-red-progress-text {
    display: none;
}
